@charset "UTF-8";

#app {width: 100%; height: 100%;}

    .loginWarp {width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center;
        .logoBox {font-family: 'Times New Roman', Times, serif; font-size: 48px; color: #d46000;
        .loginBox { display: flex; }
    }
}